<div class="mis-page">
<form>
	<table>
		<tr>
			<th>任职公告名称:
			</th>
			<td>
				<input type="hidden" name="renzhigongshi.id" value="${renzhigongshi?.id}">
				<input class="easyui-textbox" type="text" name="renzhigongshi.renzhigongshi_title" value="${renzhigongshi?.renzhigongshi_title}" style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<th>发布单位:
			</th>
			<td>
				<input name="renzhigongshi.post_danwei" class="easyui-textbox" value="${renzhigongshi?.post_date}" style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<th>发布日期:
			</th>
			<td>
				<input name="renzhigongshi.post_date" class="easyui-textbox" value="${renzhigongshi?.post_date}" style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<th>发布者:
			</th>
			<td>
				<input name="renzhigongshi.author" class="easyui-textbox" value="${renzhigongshi?.author}" style="width:100%;height:32px">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<div>
					<a href="#" id="renzhigongshi-edit-save" class="easyui-linkbutton" iconCls="icon-save">确认</a>
					<a href="#" id="renzhigongshi-edit-cancel" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
				</div>
			</td>
		</tr>
	</table>
	</form>
</div>