<div class="mis-page">
	<table class="mis-page-table">
		<tr style="height:30px;">
			<td>
				<div class="mis-page-title">
					<div class="title">用户管理</div>
					<div class="btns">
						<a href="#" id="user-page-add" class="easyui-linkbutton" iconCls="icon-add">新增</a>
					</div>
					<div class="clear-fixed"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<table id="user-page-table" class="easyui-datagrid" style="width:100%;"
						url="/houtai/user/get" toolbar="#search-user-page">
					<thead>
						<tr>
							<th field="id" hidden="true">id</th>
							<th field="username" width="120" align="center">账号</th>
							<th field="fullname" width="120" align="center">户主</th>
							<th field="phone" width="140" align="center">手机</th>
							<th field="update" width="40" align="center" formatter="conf.user.format">操作</th>
						</tr>
					</thead>
				</table>
			</td>
		</tr>
	</table>
</div>
<div id="search-user-page" style="padding:2px 5px;">
	<span>账号:</span>
	<input name="username" style="line-height:26px;border:1px solid #ccc">
	<span>户主:</span>
	<input name="fullname" style="line-height:26px;border:1px solid #ccc">
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="javascript:conf.user.search();">查询</a>
</div>