<div class="mis-page">
	<table class="mis-page-table">
		<tr style="height:30px;">
			<td>
				<div class="mis-page-title">
					<div class="title">工资开支管理</div>
					<div class="btns">
						<a href="#" id="gongzikaizhi-page-add" class="easyui-linkbutton" iconCls="icon-add">新增</a>
					</div>
					<div class="clear-fixed"></div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<table id="gongzikaizhi-page-table" class="easyui-datagrid" style="width:100%;"
						url="/houtai/gongzikaizhi/get" toolbar="#search-gongzikaizhi-page">
					<thead>
						<tr>
							<th field="id" hidden="true">id</th>
							<th field="title" width="120" align="center">工资开支标题</th>
							<th field="post_date" width="120" align="center">发布时间</th>
							<th field="author" width="120" align="center">发布人</th>
							<th field="update" width="40" align="center" formatter="conf.gongzikaizhi.format">操作</th>
						</tr>
					</thead>
				</table>
			</td>
		</tr>
	</table>
</div>
<div id="search-gongzikaizhi-page" style="padding:2px 5px;">
	<span>工资开支标题:</span>
	<input name="title" style="line-height:26px;border:1px solid #ccc">
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="javascript:conf.gongzikaizhi.search();">查询</a>
</div>