#{extends 'main.html' /}
#{set title:'Home' /}

	<div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px;font-size:22px;">王坛镇上王村档案管理系统</div>
	<div data-options="region:'west',split:true,collapsible:false" style="width:150px;">
		<div id="mis-menu-page" class="easyui-accordion" data-options="fit:true,border:false">
			<div title="户籍证明" data-options="selected:true">
				<ul class="easyui-tree">
					<li>出生证</li>
					<li>身份证</li>
					<li>户口簿</li>
				</ul>
			</div>
			<div title="婚姻证明">
				<ul class="easyui-tree">
					<li>结婚证</li>
					<li>离婚证</li>
				</ul>
			</div>
			<div title="权属证明">
				<ul class="easyui-tree">
					<li>房产证</li>
					<li>土地权证</li>
					<li>山林权证</li>
				</ul>
			</div>
			<div title="合同协议">
				<ul class="easyui-tree">
					<li>合同书</li>
					<li>协议书</li>
					<li>调节书</li>
					<li>公证书</li>
				</ul>
			</div>
			<div title="荣誉证件">
				<ul class="easyui-tree">
					<li>先进证件</li>
				</ul>
			</div>
			<div title="学历证明">
				<ul class="easyui-tree">
					<li>毕业证书</li>
					<li>学位证书</li>
				</ul>
			</div>
			<div title="技术职称">
				<ul class="easyui-tree">
					<li>职称证书</li>
					<li>聘书</li>
					<li>等级证书</li>
					<li>岗位证书</li>
					<li>培训证书</li>
				</ul>
			</div>
			<div title="医疗病历">
				<ul class="easyui-tree">
					<li>诊断书</li>
					<li>体检表</li>
				</ul>
			</div>
			<div title="保险证明">
				<ul class="easyui-tree">
					<li>财产</li>
					<li>人身</li>
				</ul>
			</div>
			<div title="声像照片">
				<ul class="easyui-tree">
					<li>毕业照</li>
					<li>家庭合影</li>
					<li>旅游照</li>
				</ul>
			</div>
			<div title="后台管理">
				<ul class="easyui-tree">
					<li>用户管理</li>
					<li>权限管理</li>
					<li>角色管理</li>
					<li>授权管理</li>
				</ul>
			</div>
		</div>
	</div>
	<div data-options="region:'center'">
		<div id="mis-center-page" style="width:100%;height:100%;"></div>
	</div>